@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

.navbar {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
 
}
.TOP-section {
  width: 100%;
  height: 20px;
  background-color: rgb(68, 139, 161);
  padding: 0;
  

}
.TOP-section li{
 
  
  justify-content: flex-end; 
  display: inline-block;
  margin-right: 15px; 
 text-align: right; 
  
}




.MED-section {
  width: 100%;
  height: 40px;
  background-color: rgb(253, 253, 253);
  border-bottom: 2px solid #7c7575;
  
}





ul {
  justify-content: flex-end;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  gap: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  position: relative;
}

ul li {
  position: relative;
  display: inline-block;
}

ul li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(68, 139, 161);
  transition: width 0.3s;
}

ul li a:hover::after {
  width: 100%;
  color: #1a3a5c;

}



p {
  position: relative;
  top: 10px;
}

p a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  
 
  margin: 10 ;
  width: 85px;
  padding: 5px 5px;
  box-shadow: 0 0 10px rgb(68, 139, 161);
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: rgb(68, 139, 161);
}

.log {
  color: rgb(68, 139, 161);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgb(68, 139, 161);

}

button:hover {
  color: white;
  width:100px;
  box-shadow: 0 0 20px rgb(68, 139, 161);
  background-color: rgb(68, 139, 161);
}







 
html {
  font-family: "Roboto", sans-serif;
}


li{
  list-style: none;
}
a{
  color: initial;
}

.flex{
  display:inline-flex;
  align-items: center;
}
.border{
  border: 2px solid #213547;
}

a{
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}









